<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0G7LPD1uvIX621gh4ujc4SXAheuB3ygU</string>
	<key>GCM_SENDER_ID</key>
	<string>1085792561259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dannydecaf.GrubShare</string>
	<key>PROJECT_ID</key>
	<string>grubshare-4de23</string>
	<key>STORAGE_BUCKET</key>
	<string>grubshare-4de23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085792561259:ios:d5fddcad8c4f93c383e92e</string>
</dict>
</plist>